.productos {
    background-color: #f3f2f5;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    border: 10px;
    padding: 10px;
  }
  
  .imgtienda {
    display: inline-block;
    width: 25%;
    height: auto;
}
